{% extends "base.html" %}
{% block content %}
<h2>All articles</h2>
<ol class="dci-posts-list">
  {% for article in articles_page.object_list %}
  <li>
    <article class="dci-article">
      <header>
        <h1>
          <a
            href="{{ SITEURL }}/{{ article.url }}"
            rel="bookmark"
            title="Permalink to {{ article.title|striptags }}"
            >{{ article.title }}</a
          >
        </h1>
      </header>
      {% include 'article_infos.html' %}
      <div class="dci-article__summary">
        {{ article.summary }}
          <a class="readmore" href="{{ SITEURL }}/{{ article.url }}"
            >read more</a
          >
      </div>
    </article>
  </li>
  {% endfor %}
</ol>
{% endblock content %}
