html {
  box-sizing: border-box;
  font-size: 125%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Red Hat Display", -apple-system, BlinkMacSystemFont, Helvetica,
    Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a:link {
  color: red;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
a:visited {
  color: red;
}

.dci-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 61rem;
}

.dci-header {
  background-color: #000;
}

.dci-header__nav {
  display: flex;
  align-items: center;
}

.dci-header__logo {
  display: inline-block;
  height: 1.4rem;
  width: auto;
}

.dci-header__title {
  color: #fff;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 700;
  height: 2.4rem;
  line-height: 2.4rem;
}

.dci-main-content {
  margin: 1rem 0;
}

.dci-posts-list {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.dci-article__info {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: rgba(117, 117, 117, 1);
}
.dci-article__summary {
  padding-top: 0.5rem;
}
.dci-article__summary > .readmore {
  margin-top: 0.5rem;
  display: block;
}
